<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="shortcut icon" href="/assets/materiais/logo petit.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <section class="section-login">
        <main>
            <img src="../../assets/materiais/logo petit.png" alt="LOGO PETIT">
            <h1>LOGIN</h1>
            <form action="/view/pedido/index.html">
                <div>
                    <input type="text" placeholder="Usuário" name="" id="Usuario">
                </div>
                <div>
                    <input type="password" placeholder="Senha" name="" id="senha">
                    <i id="view-password" class="bi bi-eye" onclick="RevelaSenha()"></i>
                    <!-- olhos fechado: <i class="bi bi-eye-slash"></i> -->
                </div>
                <input type="submit" value="CONTINUAR">
            </form>
        </main>
    </section>
    <script src="/script/script.js"></script>
</body>

</html>