* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

:root {
    --cinza-m-claro: #f9f9f9;
    --cinza-claro: #949494;
    --laranja: #FF9011;
    --laranja-escuro: #E67F0D;
    --laranja-vermelho: #FE4E00;
    --sombra: 0px 0px 5px -1px black;
}

.section-login {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--laranja), var(--laranja-escuro));
    background-size: cover;
    background-position: bottom;
}

.section-login main {
    width: 30vw;
    height: 70vh;
    border-radius: 12px;
    box-shadow: 3px 3px 5px -4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.section-login main div {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    position: relative;
}

.section-login main img {
    width: 10vw;
    position: absolute;
    top: 10vh;
}

.section-login main h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 100;
    box-sizing: border-box;
}

.section-login main input[type="text"],
.section-login main input[type="password"] {
    width: 80%;
    height: 5vh;
    padding: 1vh;
    box-sizing: border-box;
    border: var(--cinza-claro) 1px solid;
    border-radius: 2px;
}

.section-login main input[type="submit"] {
    width: 50%;
    height: 8vh;
    padding: 1vh;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--laranja);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    box-shadow: 3px 3px 5px -4px;
    transition: 0.3s all;
}

.section-login main input[type="submit"]:hover {
    background-color: var(--laranja-escuro);
    cursor: pointer;
}

.section-login main input[type="submit"]:active {
    background-color: var(--laranja-vermelho);
}

.section-login main i {
    position: absolute;
    cursor: pointer;
    right: 12%;
}

.container-all {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed relative;
}

.menu {
    background-color: white;
    width: 15vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    box-shadow: var(--sombra);
    z-index: 999;
}

.menu section {
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    box-shadow: var(--sombra);
}

.menu ul {
    height: auto;
    width: 15vw;
    box-sizing: border-box;
}

.tab-btn {
    padding: 20px;
    list-style: none;
    transition: 0.3s all;
}

.tab-btn.active {
    background-color: var(--laranja-escuro);
}

.tab-btn:hover {
    padding: 20px;
    list-style: none;
    background-color: var(--laranja);
    cursor: pointer;

}

.menu i {
    margin-right: 10px;
}

.container-content {
    max-width: 100vw;
    min-width: 85vw;
    box-sizing: border-box;
}

/* pagina  home vendedor*/
.content {
    display: none;
}

.content.show {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.content-pedidos h1 {
    width: 100%;
}

.content-pedidos>.container-filtro {
    width: 100%;
    display: flex;

}

.content-pedidos>.container-filtro div:nth-child(1) {
    flex-grow: 1;
}

.content-pedidos>.container-filtro div:nth-child(2) {
    flex-grow: 5;

}

.content-pedidos>.container-filtro div:nth-child(3) {
    flex-grow: 2;
}

.content-pedidos>.container-filtro div:nth-child(4) {
    flex-grow: 2;
    display: flex;
    align-items: end;

}

.content-pedidos>.container-filtro div {
    padding: 5px;
    box-sizing: border-box;
    justify-content: left;
}

.content-pedidos>.container-filtro div input[type="submit"] {
    background-color: var(--laranja);
    cursor: pointer;
    border: none;
    box-shadow: var(--sombra);
}

.content-pedidos>.container-filtro div input,
.content-pedidos>.container-filtro div select {
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid var(--cinza-claro);
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
}

.content-pedidos table {
    width: 100%;
}

.content-pedidos table td {
    height: 10vh;
    padding: 5px 0px;
}

.content-pedidos table tr:nth-child(even) {
    background-color: var(--cinza-m-claro);
    border-radius: 4px;
}

.content-pedidos table tr td:nth-child(1) {
    width: 150px;
    background-color: #00B206;
    height: 10vh;
    position: relative;
    overflow: hidden;
}

.content-pedidos table tr td:nth-child(2) {
    flex-grow: 4;
}

.content-pedidos table tr td:nth-child(3) {
    flex-grow: 4;
    text-align: right;
}

.content-pedidos td img {
    z-index: 9;
    height: 130%;
    position: absolute;
    top: 50%;
    transform: translate(-10%, -50%);
}

.content-pedidos td:nth-child(1) p {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    color: white;
}

.adc-pedido {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 10vw;
    height: 7vh;
    background-color: var(--laranja);
    color: black;
    font-weight: 600;
    box-shadow: var(--sombra);
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s all;
    border-radius: 4px;
}
.adc-pedido:hover{
background-color: var(--laranja-escuro);
}


/* RESPONSE WIDTH 900px */

@media (max-width:900px) {
    .section-login main {
        width: 75vw;
        height: 75vh;
    }

    .section-login main div {
        width: 60vw;
    }

    .section-login main img {
        width: 20vw;
    }
}

/* RESPONSE WIDTH 500px */
@media (max-width:500px) {
    .section-login main {
        width: 95vw;
        height: 95vh;
    }

    .section-login main div {
        width: 80vw;
    }

    .section-login main img {
        width: 40vw;
    }
}