<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/src/style/style.css">
    <link rel="shortcut icon" href="/assets/materiais/logo petit.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container-all">
        <aside class="menu">
            <section>
                <img src="../../assets/materiais/petit perfil.png" alt="">
            </section>
            <ul>
                <li class="tab-btn active" content-id="Home"><i class="bi-house-fill"></i>Home</li>
                <li class="tab-btn" content-id="Pedidos"><i class="bi-folder-fill"></i>Pedidos</li>
                <li class="tab-btn" content-id="Clientes"><i class="bi-people-fill"></i>Clientes</li>
            </ul>
        </aside>
        <div class="container-content">
            <!-- conteudo home  -->
            <!-- home/ visão geral -->
            <section class="content content-geral show " id="Home">
                <h1>Content Geral Vision</h1>

            </section>

            <!-- Pedidos -->
            <section class="content content-pedidos " id="Pedidos">
                <h1>PEDIDOS</h1>
                <form class="container-filtro">
                    <div>
                        <p>ID</p>
                        <input placeholder="ID" type="text" name="" id="">
                    </div>

                    <div>
                        <p>CLIENTE</p>
                        <input placeholder="Cliente" type="text" name="" id="">
                    </div>

                    <div>
                        <p>STATUS</p>
                        <select name="" id="">
                            <option value="Aguardando Faturamento">Aguardando Faturamento</option>
                            <option value="Faturado">Faturado</option>
                            <option value="Concluido">Concluido</option>
                            <option value="Cancelado">Cancelado</option>
                        </select>
                    </div>

                    <div>
                        <input type="submit" value="FILTRAR" name="" id="">
                    </div>
                </form>
                <div class="container-list-pedidos">
                    <table>
                        <tr>
                            <td>
                                <p>CONCLUIDO</p>
                                <img src="../../assets/icon/iconCheck.png" alt="">
                            </td>
                            <td>
                                <h1>Serra Azul 3 - #01</h1>
                                <p>NF-E, Boleto 7/14/21 dias</p>
                                <p>Logistica Própia</p>
                            </td>
                            <td>
                                <h1>50UN - R$ 00,00</h1>
                                <p>01/01/2024 00:00</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="adc-pedido"> <a href="pedidos/novo pedido/index.html">Novo Pedido</a></button>
            </section>

            <!-- Clientes -->
            <section class="content content-clientes" id="Clientes">
                <h1>Content Clientes</h1>
            </section>
        </div>
    </div>
    <script src="../../src/script/script.js"></script>
</body>

</html>